/*colors*/
@black: #505050;
@white: #e0e0e0;
@red:   #c98e8e;

/*preload*/
@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('/static/fonts/robotocondensed.woff2') format('woff2');
}
@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/icomoon.ttf') format('truetype');
}
[class^='icon-'], [class*=' icon-'] {
  font-family: 'icomoon' !important;
  font-style: normal;
  text-transform: none;
}
body{
	background: #eee;
	font: 1rem Roboto;
}
main{
  ul{
    padding: 0;
    list-style: none;
    font: 1.4rem Roboto Condensed;
    width: 80vw;
    margin: 0 auto;
    h2{
      padding: 20px 0;
      font: 1.8rem Roboto;
      text-align: center;
      color: #fff;
      background: #aaa;
      margin: 0;
    }
    li{
      color: #666;
      background: #fff;
      border-bottom: 2px dotted #ccc;
      display: grid;
	    grid-template-columns: 40% 1fr 1fr 1fr;
      span{
        padding: 1rem;
        display: flex;
      }
    }
  }
}
