<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<<<<<<< HEAD
	<header>
		<h1>nyan.host</h1>
	</header>
=======
	<header><h1>nyan.host</h1> </header>
>>>>>>> 1a5f47e8a7fffa284e130d98843da6e1bf111400
	<aside>{{> aside}}</aside>
	<main>{{{body}}}</main>
	<footer>
		<p>© 2020 – nyan.host</p>
		<a href="https://abcd.bz">ABCD Team</a>
		<a href="https://hostsuki.pro/page/sitemap/">hostsuki</a>
	</footer>
</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> 1a5f47e8a7fffa284e130d98843da6e1bf111400
