<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<header><h1>nyan.host</h1> </header>
	<aside>{{> aside}}</aside>
	<main>{{{body}}}</main>
	<footer>
		<p>© 2020 – nyan.host</p>
		<a href="https://abcd.bz">ABCD Team</a>
		<a href="https://hostsuki.pro/page/sitemap/">hostsuki</a>
	</footer>
</body>
</html>