<nav>
	<a href="/about">about</a>
	<a href="/friends">friends</a>
	<a href="/soc">soc</a>
	<a href="/webm">animu webm</a>
	<a href="/anime">anime</a>
	<a href="/movies">movies</a>
	<a href="/music">music</a>
	<a href="/nice">nice</a>
</nav>